*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background: #FF7E06;
    display: flex;
    align-items: center;
}

header p{
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 20px;
}

.container-app{
    padding: 60px;
}

.title-main{
    margin: 30px 0;
}

.title-product{
    color: #fd7a00;
}

.item-list{
    margin-bottom: 30px;
}

.item-list span{
    color: #4b870f;
    font-weight: bold;
    letter-spacing: 1.2px;
}


.price-all{
    font-size: 1.4em;
}

.price-total{
    color: rgb(5 197 120);
    font-weight: bold;
}

.title-form{
    margin-bottom: 20px;
}

.my-form > *{
    margin-bottom: 24px;
}

.btn-save{
    padding: 8px;
    color: white;
    background: #47bf47;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
