*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background: #FF7E06;
    display: flex;
    align-items: center;
}

header p{
    color: #fff;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 20px;
}

.container-app{
    padding: 60px;
}

.title-main{
    margin-bottom: 30px;
}

.title-product{
    color: #fd7a00;
}

.item-list{
    margin-bottom: 30px;
}

.item-list span{
    color: #4b870f;
    font-weight: bold;
    letter-spacing: 1.2px;
}